# Reading the Data
In this section, we will read the data from the csv file and store it in a pandas dataframe. Thereafter we will perform some basic data exploration to get rid of any missing values, useless columns and outliers.

In [4]:
# import all
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import dtale
import sklearn as sk



# Read the data Train on me
dataframe= pd.read_csv('Train.csv')

## Cleaning the Data
Here I'm trying to interpret the data visually. X_5  column is zeroes regardless of the output. Also we we do know exactly how many unique values there are in each column. I'm going to try to find out how many unique values there are in each column. Also I am trying to find the dimensionality of each data 

### Let's start with Y and x~5

In [5]:
# Find the dimensionality of the y variable
dataframe['y'].value_counts()

Dragspel       559
Nyckelharpa    231
Serpent        210
Name: y, dtype: int64

### Cleaning the X variables
I found that the data had some missing values. They are now fixed in the y column and x_5 column. I also found that the x_5 column was useless. It was all zeroes. I removed it from the dataframe.

In [9]:
# Drop the entire x5 column
#dataframe.drop('x5', axis=1, inplace=True)

# visualize the data
dtale.show(dataframe)

C:\Users\rakin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\dtale\views.py:755: FutureWarning:

['x6', 'x11', 'x12'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

In [12]:
# Checking x1 variable for outliers and missing values

# How many unique values are there in x1 and non values
dataframe['x1'].value_counts()
dataframe['x1'].isnull().sum()

# Find in column x1 where we get '?' and replace it with NaN
dataframe['x1'].replace('?', np.nan, inplace=True)

# Find the outliers
dataframe['x1'].describe()

count         999
unique        998
top       1.29336
freq            2
Name: x1, dtype: object

In [15]:
# Clean X2
dataframe['x2'].value_counts()
dataframe['x2'].isnull().sum()
dataframe['x2'].replace('?', np.nan, inplace=True)